@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

:root{
    --primary-color: #F2726A
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #850000, #000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #242628;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    margin: 0 30px;
}

.card__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    
}

.card__img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    overflow: hidden;
    transform: translateY(25px);
    margin: 0 auto;
    transition: 0.5s;
}

h2, p{
    font-family: "Poppins",sans-serif;
}

h2{
    font-size: 24px;
    color: white;
    margin-top: 30px;
}

p{
    color: var(--primary-color);
}

.card__icon{
    display: flex;
    align-items: center;
}

.card__icon a{
    font-size: 26px;
    margin: 25px 20px 40px;
    text-decoration: none;
    color: white;
}

.card__icon a:hover{
    color: var(--primary-color);
}

.card__button{
    outline: none;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    font-family: "Poppins",sans-serif;
    transition: 0.25s;
}

.card__button:hover{
    background-color: var(--primary-color);
}

.card__img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: unset;
    transform: unset;
  }